@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao SGCI - Sistema de Gestão de Cantinas de Igrejas!</h1>
    <h3>Por gentileza selecione na barra de navegação o módulo que deseja acessar!</h3>
    <br />
    <img src="./igreja.jpeg" width="600" height="400"/>
    <h4>Foto da 2ª Igreja do Evangelho Quadrangular</h4>
</div>
