@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>
<p>1. Todos os dados aqui inseridos são utilizados apenas para testes e provas de conceito 
    visando o aprendizado do desenvolvedor por trás do sistema, podendo ser futuramente escalado 
    para um sistema usual, com novos módulos e tecnologias envolvidas.</p>
<p>2. Ao utilizar o sistema você concorda e incentiva o desenvolvedor por trás dele a continuar com seus estudos na área.</p>
<p>3. Por fim, em caso de dúvidas, ou se desejar contribuir com o projeto de alguma forma, 
    segue o número do celular de contato do desenvolvedor: (18) 99660-9651, e o e-mail: gabrielgo15r@gmail.com</p>
<p>Feito com amor, carinho e dedicação por Gabriel Gonçalves de Oliveira, do 2º ADS. Todos os direitos reservados.</p>
