@model SistemaGestaoCantinasIgrejas.Models.Produto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Criar novo produto</h1>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="categoria" class="control-label"></label>
                <select asp-for="categoria" asp-items="ViewBag.bagCategoria" class="form-control">
                    <option selected="selected" value="">Selecione uma categoria</option>
                </select>
                <span asp-validation-for="categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descricao" class="control-label"></label>
                <input asp-for="descricao" class="form-control" />
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantidade" class="control-label"></label>
                <input asp-for="quantidade" class="form-control" />
                <span asp-validation-for="quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valor" class="control-label"></label>
                <input asp-for="valor" class="form-control" />
                <span asp-validation-for="valor" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="disponivel" /> @Html.DisplayNameFor(model => model.disponivel)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar aos produtos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
